extends layout

block content
  .login-wrapper
    .login-header
      h1 NSU 북팜 가입하기
    .login-form
      span #{id}학번으로 가입됩니다.
      form
        input(name='studentId', type='hidden', value='#{id}')
        input(name='token', type='hidden', value='#{token}')
        input(name='department', type='text', placeholder='학과를 입력하세요')
        input(name='username', type='text', placeholder='이름을 입력하세요')
        input(name='phone', type='text', placeholder='전화번호를 입력하세요')
        input(name='password' type='password', placeholder='비밀번호를 입력하세요')
        button(type='button', class='btn btn-primary join-btn') 가입하기
        span
          a(href='/login') 이미 가입 하셨나요? 로그인하기

  script.

    $('.join-btn').click(function(){
      var params = {
        studentId: $("input[name=studentId]").val(),
        pushToken: $("input[name=token]").val(),
        password: $("input[name=password]").val(),
        username: $("input[name=username]").val(),
        phone: $("input[name=phone]").val(),
        department: $("input[name=department]").val(),
      };

      $.ajax({
        type: 'POST',
        url: '/api/users',
        data: params,
        success: function(res) {
          alert("가입 완료, 다시 로그인 해 주세요");
          window.location = 'bookfarm://gologin';
        },
        error: function(res) {
          alert(res.responseJSON.message);
        }

      });
    });